body {
  font-family: "Inter", serif;
  font-size: 32px;
  background-color: #010101;
  color: #fff;
  overflow: overlay;
  margin: 0;
}

#score-container {
  position: relative;
}

#game-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score-container {
  top: 1em;
  text-align: center;
}

#score-label {
  margin-bottom: 0px;
  color: #858585;
}

#score {
  font-size: 80px;
  color: #f9e6cf;
  margin: 0;
}

#footer {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 1em;
  color: #3d3d3d;
}

#footer p {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

#footer a {
  color: #5d5d5d;
}
